* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul, ol {
  list-style: none;
}

button {
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "PT Sans Narrow", "Roboto Condensed", sans-serif;
  color: white;
}

.container {
  width: clamp(400px, 70%, 1200px);
  margin: 0 auto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.btn {
  padding: 1em;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  text-transform: uppercase;
}
header .top-bar {
  background-color: #0282f9;
  padding: 0.5em 0;
}
header .top-bar .container {
  display: flex;
  justify-content: end;
}
header .top-bar .container > * + * {
  margin-left: 1rem;
}
header nav {
  padding: 1rem 0;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul .active {
  border-bottom: 2px solid #0282f9;
}

main {
  text-transform: uppercase;
  background-color: #1c1c1c;
}
main .jumbotron {
  width: 100%;
  height: 400px;
}
main .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .container {
  position: relative;
}
main .container h2 {
  background: #0282f9;
  position: absolute;
  padding: 0.3em 0.8em;
  top: 0;
  z-index: 2;
  transform: translateY(-50%);
}
main .container .wrapper {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1.5rem;
}
main .container .wrapper h3 {
  font-weight: 400;
}
main .container .wrapper .thumb {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
main .container .wrapper .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
main .container .btn {
  margin: 2rem auto;
  padding: 0.5em 3em;
  background: #0282f9;
  color: #fff;
  font-size: 0.9em;
  display: block;
  cursor: pointer;
}
main nav {
  background: #0282f9;
  padding: 1rem 0;
}
main nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main nav ul li {
  flex-grow: 1;
}
main nav ul li a {
  display: flex;
  align-items: center;
}
main nav ul li a img {
  max-height: 50px;
  max-width: 50px;
  margin-right: 0.5rem;
}

footer nav {
  background: url("../images/footer-bg.jpg") no-repeat center center;
  background-size: cover;
}
footer nav .container {
  display: flex;
}
footer nav .container > ul {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
}
footer nav .container > ul h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}
footer nav .container > ul a {
  color: #959595;
}
footer .bg-logo {
  background: url("../images/dc-logo-bg.png") no-repeat center right;
  background-size: 70%;
  flex-grow: 1;
}
footer .footer-bottom {
  background: #303030;
}
footer .footer-bottom .btn {
  font-weight: 500;
  border: 2px solid #0282f9;
}