html {
  font-family: 'PT Sans Narrow', 'Roboto Condensed', sans-serif;
  color: white;
}

.container {
	width: clamp($min_width, 70%, $max_width);
	margin: 0 auto;

  &.narrow {
    width: clamp(calc($min_width - 5%), 55%, calc($max_width - 5%));
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.btn {
  padding: 1em;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

[class*="abs-"] {
  position: absolute;

  &[class*="t"] {
    top: 0;
  }

  &[class*="-b"] {
    bottom: 0;
  }

  &[class*="l"] {
    left: 0;
  }

  &[class*="r"] {
    right: 0;
  }
}

.opaq {
  opacity: .8;
}
