@import 'variables';

header {
  text-transform: uppercase;

  .top-bar {
    background-color: $primary;
    padding: .5em 0;

    .container {
      display: flex;
      justify-content: end;

      & > * +  * {
        margin-left: 1rem;
      }
    }
  }

  nav {
    color: #000;
    background-color: #fff;
    font-weight: 700;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;

      li {
        $border: 5px solid transparent;
        display: flex;
        border-top: $border;
        border-bottom: $border;
        a {
          display: flex;
          align-items: center;
        }
      }

      .search-bar {
        align-self: center;
        display: inline-flex;
        border-bottom: 2px solid $primary;

        input {
          border: none;
          outline: none;
          background: none;
          width: 100px;
          padding-bottom: .2rem;

          &::placeholder {
            text-align: end;
            color: $color-dark;
            font-size: 1rem;
          }
        }

        i {
          margin-left: .2em;
        }
      }

      .active,
      li:not(:first-child):hover {
        border-bottom-color: $primary;
        color: $primary;
      }

      img {
        margin: 1rem 0;
      }
    }
  }
}
