@import 'variables';

main {
  text-transform: uppercase;
  background-color: $bg-dark;

  .jumbotron {
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  .container {
    position: relative;

    h2 {
      background: $primary;
      position: absolute;
      padding: 0.3em 0.8em;
      top: 0;
      z-index: 2;
      transform: translateY(-50%);
    }

    .wrapper {
      padding-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-gap: 1.5rem;

      h3 {
        font-weight: 400;
      }

      .thumb {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
    }

    .btn {
      margin: 2rem auto;
      padding: .5em 3em;
      background: $primary;

      color: #fff;
      font-size: .9em;

      display: block;

      cursor: pointer;
    }
  }

  nav {
    background: $primary;
    padding: 1rem 0;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        flex-grow: 1;
        a {
          display: flex;
          align-items: center;

          img {
            max-height: 50px;
            max-width: 50px;
            margin-right: .5rem;
          }
        }
      }
    }
  }
}
